<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jhigs Abesamis" />
    <meta name="description" content="IRIS SYSTEMS | Defeat burglars ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="favicon.ico" rel="shortcut icon" type="~/images/logos/Red_Orb_Alphabet_Letter_I.ico" />
    <link rel="icon" href="~/images/logos/Red_Orb_Alphabet_Letter_I.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <title>IRIS SYSTEMS | Our Business is defeating Burglars </title>
    <!-- Royal Preloader CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/royal_preloader.css">

    <!-- jQuery Files -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Royal Preloader -->
    <script type="text/javascript" src="~/js/royal_preloader.min.js"></script>


    <!-- Royal Preloader -->
    <script type="text/javascript" src="~/js/royal_preloader.min.js"></script>

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css">

    <!-- Revolution Slider Navigation CSS -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css">

    <!-- Stylesheets -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" title="main-css">
    <link href="~/css/bootstrap-social.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/jquery.snippet.css" rel="stylesheet">
    <link href="~/css/buttons.css" rel="stylesheet">

    <!-- Style Switcher / remove for production -->
    <link href="css/style-switcher.css" rel="stylesheet">

    <!-- Alternate Stylesheets / choose what color you want and include regularly AFTER style.css above -->
    @*<link rel="alternate stylesheet" type="text/css" href="~/css/colors/red.css" title="red">*@
    @*<link rel="alternate stylesheet" type="text/css" href="~/css/colors/blue.css" title="blue">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/green.css" title="green">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/purple.css" title="purple">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/dark-blue.css" title="dark-blue">
    
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/silver.css" title="silver">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/pinkish.css" title="pinkish">
    <link rel="alternate stylesheet" type="text/css" href="~/css/colors/seagul.css" title="seagul">
    <link rel="alternate stylesheet" type="text/css" href="~/css/width-full.css" title="width-full">
    <link rel="alternate stylesheet" type="text/css" href="~/css/width-boxed.css" title="width-boxed">*@

    <!-- Icon Fonts -->
    <link href='~/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    <link href='~/css/font-awesome.css' rel='stylesheet' type='text/css'>

    <!-- Magnific Popup -->
    <link href='~/css/magnific-popup.css' rel='stylesheet' type='text/css'>
</head>
<body class="royal_preloader scrollreveal">
    <div id="royal_preloader"></div>

    <!-- Start Switcher -->
   @*<div class="demo_changer">
        <div class="demo-icon">
            <i class="fa fa-cog fa-spin fa-2x"></i>
        </div><!-- End opener icon -->
        <div class="form_holder">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="predefined_styles">
                            <!-- Module #1 -->
                            <a href="" data-rel="width-full" class="styleswitch2">Full Width</a><br>
                            <a href="" data-rel="width-boxed" class="styleswitch2">Boxed Layout</a>
                            <!-- End Module #1 -->
                            <hr>
                            <h4>Colors</h4>
                            <!-- Module #2 -->
                            <a href="" data-rel="main-css" class="styleswitch"><div class="btn orange-css-square"></div></a>
                            <a href="" data-rel="blue" class="styleswitch"><div class="btn blue-css-square"></div></a>
                            <a href="" data-rel="green" class="styleswitch"><div class="btn green-css-square"></div></a>
                            <a href="" data-rel="purple" class="styleswitch"><div class="btn purple-css-square"></div></a>
                            <a href="" data-rel="dark-blue" class="styleswitch"><div class="btn dark-blue-css-square"></div></a>
                            <a href="" data-rel="red" class="styleswitch"><div class="btn red-css-square"></div></a>
                            <a href="" data-rel="silver" class="styleswitch"><div class="btn silver-css-square"></div></a>
                            <a href="" data-rel="seagul" class="styleswitch"><div class="btn seagul-css-square"></div></a>
                            <a href="" data-rel="pinkish" class="styleswitch"><div class="btn pinkish-css-square"></div></a>
                            <!-- End Module #2 -->
                        </div><!-- End predefined_styles -->
                    </div><!-- End col -->
                </div><!-- End row -->
            </div><!-- End form_holder -->
    </div><!-- End demo_changer -->*@
    <!-- End Switcher -->
    <div id="bg-boxed">
        <div class="boxed">
            <header>
                <!-- Begin Top Bar -->
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <!-- Address and Phone -->
                            <div class="col-sm-7 hidden-xs">
                                <span class="ion-android-system-home home-icon"></span>R. Balderrama St. Capt. Ciano, Taguig, Philippines<span class="ion-ios7-telephone phone-icon"></span>3991543, 6977197, 09163262603
                            </div>
                            <!-- Social Buttons -->
                            <div class="col-sm-5 text-right">
                                <ul class="topbar-list list-inline">
                                    <li>
                                        <a class="btn btn-social-icon btn-rw btn-primary btn-xs" href="https://twitter.com/IRISSystems1">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        @*<a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                                                <i class="fa fa-instagram"></i>
                                            </a>*@
                                        <a class="btn btn-social-icon btn-rw btn-primary btn-xs" href="https://www.facebook.com/irisystems1/info">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--/row -->
                    </div><!--/container header -->
                </div><!--/top bar -->
                <!-- End Top Bar -->
            </header>
        </div>
    </div>

    <!-- Begin Boxed or Fullwidth Layout -->
    <div id="bg-boxed">
        <div class="boxed">
            <!-- Begin Navigation -->
            <div class="navbar-wrapper">
                <div class="navbar navbar-main" id="fixed-navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 column-header">
                                <div class="navbar-header">
                                    <!-- Brand -->
                                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                                        <img src="~/images/iris_03.jpg" class="raleway-logo" alt="irissystems">
                                    </a>
                                    <!-- Mobile Navigation -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div><!-- /navbar header -->
                                <!-- Main Navigation - Explained in Documentation -->
                                <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown dropdown-main">
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Products", "Products", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    </ul><!-- /navbar right -->
                                </nav><!-- /nav -->
                            </div>
                        </div>
                    </div><!-- /container header -->
                </div><!-- /navbar -->
            </div><!-- /navbar wrapper -->
            <!-- End Navigation -->
            @RenderBody()

            <!-- Begin Footer -->
            <footer class="footer-light">
                <div class="container">
                    <div class="row">

                        <!-- About -->
                        <div class="col-sm-3">
                            <div class="heading-footer"><h4>About</h4></div>
                            <p>Retail and Installation of Closed Circuit Television (CCTV) systems, Alarm systems and Safes & Depository Vaults for home, office and commercial use.</p>
                            <a href="@Url.Action("About", "Home")" class="btn btn-primary btn-rw mt10">
                                More
                            </a>
                        </div>

                        <!-- Social -->
                        <div class="col-sm-3 mg25-xs">
                            <div class="heading-footer"><h4>Social Networks</h4></div>
                            <a class="btn btn-social-icon btn-twitter btn-lg" href="https://twitter.com/IRISSystems1">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-social-icon btn-facebook btn-lg" href="https://www.facebook.com/irisystems1/info">
                                <i class="fa fa-facebook"></i>
                            </a>
                            @*<a class="btn btn-social-icon btn-instagram btn-lg">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="btn btn-social-icon btn-vimeo btn-lg">
                                    <i class="fa fa-vimeo-square"></i>
                                </a>
                                <a class="btn btn-social-icon btn-linkedin btn-lg">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="btn btn-social-icon btn-google-plus btn-lg">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="btn btn-social-icon btn-adn btn-lg">
                                    <i class="fa fa-adn"></i>
                                </a>
                                <a class="btn btn-social-icon btn-bitbucket btn-lg">
                                    <i class="fa fa-bitbucket"></i>
                                </a>
                                <a class="btn btn-social-icon btn-tumblr btn-lg">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                                <a class="btn btn-social-icon btn-flickr btn-lg">
                                    <i class="fa fa-flickr"></i>
                                </a>*@
                        </div>

                        <!-- Contact -->
                        <div class="col-sm-3 mg25-xs">
                            <div class="heading-footer"><h4>Contact us</h4></div>
                            <p><span class="ion-home footer-info-icons"></span><small class="address">R. Balderrama St. Capt. Ciano, Taguig City</small></p>
                            <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:irissystems@yahoo.com">irissystems@yahoo.com</a></small></p>
                            <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">3991543</small></p>
                            <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">6977197</small></p>
                            <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">09163262603</small></p>
                        </div>

                        <!-- Recent Work -->
                        <div class="col-sm-3 hidden-xs">
                            <div class="heading-footer"><h4>Products</h4></div>
                            <div class="col-xs-2 recent-work-padding">
                                <a href="~/images/products/cameralist.jpg" class="thumbnail image-zoom-link">
                                    <img src="~/images/products/cameralist.jpg" alt="..." class="thumbnail img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-2 recent-work-padding">
                                <a href="~/images/products/cameralist2.jpg" class="thumbnail image-zoom-link">
                                    <img src="~/images/products/cameralist2.jpg" alt="..." class="thumbnail img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-2 recent-work-padding">
                                <a href="~/images/products/BC-2028.jpg" class="thumbnail image-zoom-link">
                                    <img src="~/images/products/BC-2028.jpg" alt="..." class="thumbnail img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-2 recent-work-padding">
                                <a href="~/images/products/BC-300.jpg" class="thumbnail image-zoom-link">
                                    <img src="~/images/products/BC-300.jpg" alt="..." class="thumbnail img-responsive">
                                </a>
                            </div>
                        </div>
                    </div><!-- /row -->
                    <!-- Copyright -->
                    <div class="row">
                        <hr>
                        <div class="col-sm-11 col-xs-10">
                            <p class="copyright">© 2016 Iris Systems Enterprise. All rights reserved.</p>
                        </div>
                        <div class="col-sm-1 col-xs-2 text-right">
                            <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
                        </div>
                    </div><!-- /row -->

                </div><!-- /container -->
            </footer><!-- /footer -->
            <!-- End Footer -->
        </div><!-- /boxed -->
    </div><!-- /bg boxed-->
    <!-- Javascript Files -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="~/js/scrollReveal.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.snippet.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.fitvids.js"></script>

    <script type="text/javascript" src="~/js/activate-snippet.js"></script>
    <script type="text/javascript" src="~/js/skrollr.min.js"></script>

    <!-- On Scroll Animations - scrollReveal.js -->
    <script>
        var config = {
            easing: 'hustle',
            mobile: true,
            delay: 'onload'
        }
        window.sr = new scrollReveal(config);
    </script>

    <!-- Slider Revolution JS -->
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Slider Revolution Extensions (Load Extensions only on Local File Systems The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>

    <!-- Slider Revolution Main -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#slider1").revolution({
                sliderType: "standard",
                startDelay: 2500,
                spinner: "spinner2",
                sliderLayout: "auto",
                viewPort: {
                    enable: false,
                    outof: 'wait',
                    visible_area: '100%'
                }
                 ,
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    arrows: {
                        style: "erinyen",
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div>	<span class="tp-arr-titleholder">{{title}}</span> </div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        }
                    }
                    ,
                    touch: {
                        touchenabled: "on",
                        swipe_treshold: 75,
                        swipe_min_touches: 1,
                        drag_block_vertical: false,
                        swipe_direction: "horizontal"
                    }
                    ,
                    bullets: {
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 600,
                        style: "hermes",
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 30,
                        space: 5
                    }
                },
                gridwidth: 1240,
                gridheight: 497
            });
        });
    </script>
</body>

</html>
